---
const { title, subtitle } = Astro.props;
---

<div class="flex">
  <div class="education__time">
    <span class="w-2 h-2 bg-slate-600 block rounded-full mt-3"></span>
    <span class="education__line bg-slate-600 block h-full w-[2px] translate-x-[3.5px]"></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <h3 class="font-semibold">{title}</h3>
    <span class="text-slate-700 text-sm">{subtitle}</span>
    <p class="my-2 text-justify">
      <slot />
    </p>
  </div>
</div>
