---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";

import { Picture } from "@astrojs/image/components";

---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Summary</div>
  </div>

  <div class="mb-10 text-justify">
    Versatile and solution-driven software engineer with 2+ years of experience in development of highly scalable and innovative custom AI/ML solutions for Data centre management. Managed business escalations and shipped a product with great client feedback. Established research skills with publications at renowned journals
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid mb-10">
    <div class="flex flex-col md:flex-row">
      <div class="max-w-[30%] md:max-w-[10%] mb-3 md:mb-0 md:mr-5">
        <Picture src="/kpriet.png" widths={[200]} aspectRatio={1} alt="KPRIET Logo" fit="fill"/>
      </div>
      <div class="flex flex-col">
        <h2 class="text-xl font-bold">Bachelor of Engineering</h2>
        <span class="text-m font-medium">KPR Institute of Engineering and Technology, Coimbatore, India</span>
        <span class="text-sm">2018-2022</span>
        <p class="text-s">
          Majored in <b>Computer Science and Engineering </b> along with special courses like Artificial Intelligence, 
          Distributed Systems, Internet of Things(IoT) and Computer Networking.
          Took active responsibilities such as Student Representative, Secretary of College Toastmasters Club and
          Student Lead of College AI R&D Lab
        </p>
      </div>
    </div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="flex flex-col md:flex-row mb-10">
    <div class="max-w-[30%] md:max-w-[10%] mb-3 md:mb-0 md:mr-5">
      <Picture src="/qpicloud-logo.png" widths={[200]} aspectRatio={420/300}  alt="QpiCloud Logo" fit="inside"/>
    </div>
    <div class="flex flex-col">
      <h2 class="text-xl font-bold">QpiCloud Technologies</h2>
      <span class="text-light text-lm text-gray-500 mb-3">Bangalore, Karnataka, India</span>
      <div class="time-line-container">
        <TimeLineElement
          title="Technical Team Lead"
          subtitle="April 2023 to Present"
        >
          <p>Worked closely with client stakeholders on business requirements, managed project escalations, and facilitated project handover.
            Directly supported the CEO in product design and market research for an automated datacenter management suite.
            Led a team of 5 engineers in refactoring from monolith to microservices, reducing technical debts by implementing TypeScript for 80% test coverage.
            Proposed and implemented architectural changes for asynchronous communication and offloading background tasks.
            Developed client-side data validation and global state management to minimize API callbacks.
          </p>
        </TimeLineElement>
        <TimeLineElement
          title="ML Research Engineer"
          subtitle="June 2022 to March 2023"
        >
        <ul class="list-disc ml-4">
          <li>Developed a Boosting Tree based VM Rightsizing Recommendation Algorithm</li>
          <li>Research and Development of VM Size Recommendation solution for Datacenter Optimisation</li>
          <li>Optimised the system data flow for 60% faster response</li>
          <li>Built DAGs with Airflow for model inference monitoring for Data Drift, Concept Drift and Online Learning loop</li>
          <li>Taken technical training for onboarded interns and mentored them</li>
        </ul>
        </TimeLineElement>
        <TimeLineElement
          title="Data Science Intern"
          subtitle="January 2021 to May 2022"
        >
        <ul class="list-disc ml-4">
          <li>Worked in research and development of Anomaly Detection Models for Network Intrusion threats like Malware, DDoS</li>
          <li>Researched and developed a transformer based text mining solution for QpiAI Pro AutoML Platform</li>
          <li>Refactored microservice API Server into FastAPI that results 80% improvement in speed and efficiency</li>
          <li>Performed containerisation, CI/CD Deployment in AWS Cloud via GitLab</li>
        </ul>
        </TimeLineElement>
      </div>
    </div>
    
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/2PRTWQ4ZYETJ" target="_blank">Deep Learning Specialization</a> by Deeplearning.ai
    </li>
    <li>
      <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/YJSZMKXPNE2L" target="_blank"> Tensorflow in Practice Specialization</a> by Deeplearning.ai
    </li>
    <li>
      <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/YJSZMKXPNE2L" target="_blank"> Machine Learning </a> by Stanford University
    </li>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mx-6">
    <li>Python</li>
    <li>TypeScript/JavaScript</li>
    <li>HTML5 & CSS3</li>
    <li>Rust</li>
    <li>Web Development</li>
    <li>System Design</li>
    <li>Machine Learning</li>
    <li>CI/CD Engineering</li>
    <li>Tensorflow/Pytorch</li>
    <li>NumPy</li>
    <li>OpenCV</li>
    <li>Scikit Learn</li>
    <li>React.js</li>
    <li>MaterialUI/AntDesign</li>
    <li>Tailwind CSS</li>
    <li>Redux</li>
  </ul>
</BaseLayout>
